<!DOCTYPE html>
<html>
<head>
  <title> MixPy</title>
  <link rel="stylesheet" href="../static/css/editor.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
</head>
<body>
  <div id='title'>
    <h1><span style="color:#0b475b">M<span style="color:#cccccc">i</span><span style="color:#0087b5">x</span>Py</span></h1>
  </div>
  <div id='notebook'>
  <form id='form' .down>
    <textarea id='i0' autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" rows=1 cols=80></textarea>
    <div class="stdout" id='c0' class="output"></div>
  </form>
  </div>
  <button onclick="finish()">Done!</button>

</body>
</html>

<script defer src="https://d1xa36cy0xt122.cloudfront.net/v1/Mixmax.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/showdownjs/showdown/1.6.0/dist/showdown.min.js"></script>


<script type="text/javascript" src="../static/js/run_python.js">
</script>
<script type="text/javascript">
  var text = $('<textarea />').html('{{ data }}').text();
  if(text.length){
    $('#form').html(text);
    docCount = {{ n }};

    docCount--;
    for(var i = 0; i<docCount; i++){
      codeList.push("");
    }

    $("#i"+docCount).keypress(handler);
    
    $('.out').each(function (n) {
      var io = this;
      var currId = io.id;
      var currNum = Number(currId.substring(1));
      io.onclick = function(){
        var isCode = $(io).hasClass("code");
        if(isCode){
          var content = io.innerHTML;
          console.log("EDITED: "+content);
          $(io).replaceWith('<textarea id="'+currId+'">'+content.replace("<br>", "\n")+'</textarea><br id="s'+currNum+'">');
          io = document.getElementById(currId);
          $(io).addClass("code");
        }
        else{
          var content = document.getElementById(currId+'md').value;
          $(currId+'md').remove();
          $(io).replaceWith('<textarea id="'+currId+'">'+content+'</textarea><br id="s'+currNum+'">');

        }
        io = document.getElementById(currId);
        $(io).keypress(handler);
      }
    });

    $('.code').each(function(n){
      var io = this;
      var currId = io.id;
      var currNum = Number(currId.substring(1));
      codeList[currNum] = this.innerHTML.replace('<br>', '\n');
    });
  }
  //console.log("asdf");
</script>
