<!DOCTYPE html>
<html>
<head>
  <title> MixPy</title>
  <link rel="stylesheet" href="../static/css/editor.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
</head>
<body>
  <div id='title'>
    <h1>MixPy</h1>
  </div>
  <div id='notebook'>
  <form id='form' .down>
    <textarea id='i0' autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" rows=1 cols=80></textarea>
    <div class="codediv" id='c0' class="output"></div>
  </form>
  </div>
  <button onclick="finish()">Done!</button>
</body>
</html>

<script defer src="https://d1xa36cy0xt122.cloudfront.net/v1/Mixmax.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/showdownjs/showdown/1.6.0/dist/showdown.min.js"></script>


<script type="text/javascript" src="../static/js/run_python.js">
</script>
