<!DOCTYPE html>
<html>
<head>
  <title> MixPy</title>
</head>
<body>

  <div id='notebook'></div>
  <form id='form' .down>
    <textarea id='i0' autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" rows=1 cols=80></textarea>
    <code id='c0' class="output"></code>
  </form>
  <button onclick="finish()">Done!</button>
</body>
</html>

<style type="text/css">
  .code {
    background-color: black;
    color: white;
  }



</style>
<script defer src="https://d1xa36cy0xt122.cloudfront.net/v1/Mixmax.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/showdownjs/showdown/1.6.0/dist/showdown.min.js"></script>


<script type="text/javascript" src="../static/js/run_python.js">
</script>
